body {
    margin:0px 50px;
    width:600;
    height:600;
    
}
#header {
    background-color: darkmagenta;
    height: 60px;
    margin:0px 
}
#container{
    background-color: red;
    height: 100%;
    border-left: 70px solid white;
    border-right: 70px solid white;
    margin: 0px auto;
    padding-top:80px;
}
#blue{
    background-color: blue;
    width: 300;
    height:160px;
    margin-left: 80;
    margin-bottom: 20px;
    
    
}
#yellow{
    background-color:yellow;
    width:80;
    height:80px;
    position:relative;
    top:10px;
    margin-left: 10px;
    
}
#green {
    background-color: green;
    width:160;
    height:120px;
    position:relative;
    right:-110px;
    top:-70px;
    
    
    
}